!!!
%html
  %head
    %title Instaplaces
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}       
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    :javascript
        $(document).ready(locateUser);
        function locateUser(){
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(a) {
                  var lat = a.coords.latitude;
                  var lng = a.coords.longitude;
                  $('#pictures').load('nearby/'+lat+','+lng);
              }, function(a) {
                  alert("could not find your location!");
              });
          }
          else {
              alert("Your browser does not support geo location, please try using another browser.");
          }
        }

  %body
    %content= yield
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12466092-4']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
